@import "effects.css";
@import "maze.css";

.character {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transform: 1s linear;
    transform-origin: center center;
}

.character.label,
.character span {
    font-size: var(--small-font-size);
}

.character span.relic {
    color: var(--relic-text-color);
    text-align: center;
    animation: glow 0.5s infinite alternate;
}

.character.player {
    align-self: center;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.character.entrance {
    background-color: var(--maze-path);
}

.character.entrance {
    animation: glow 1s infinite alternate;
}

.character.player::before {
    content: var(--sym-player);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character.powerup::before {
    content: var(--sym-powerup);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character.dead::before {
    content: var(--sym-dead);
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character.buried::before {
    content: var(--sym-buried);
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character.player,
.character.powerup,
.character.dead,
.character.buried {
    z-index: 4
}

.character.dead::before,
.character.powerup::before {
    animation: glow 1s infinite alternate;
}

.character.blownup {
    animation: blown-up 450ms ease-out forwards;
}

.character.dead {
    animation: float 0.8s ease-in-out infinite alternate;
}

