
:root {
    --game-text-color: #e6dccb;

    --shadow-glow-color: rgba(255, 173, 106, 0.92);

    --background-image: url("ib-game-frame.png");

    --maze-edge: #222;
    --maze-bg: #222;
    --maze-path: #bda06f;
    --maze-wall: #4a3f33;
    --maze-edge: #2b241c;

    --maze-edge-inset: 4px rgba(0, 0, 0, 0.4);
}

#maze {
    --sym-player: "🤠";
    --sym-cat: "🐈";
    --sym-rat: "🐀";
    --sym-mouse: "🐁";
    --sym-monkey: "🐒";
    --sym-scorpion: "🦂";
    --sym-spider: "🕷️";

    --sym-powerup: "💀";
    --sym-dead: "⚰️";
    --sym-buried: "🪦";

    --sym-exit: "🕳";
    --sym-web: "🕸";
    --sym-poop: "💩";
    --sym-gem: "💎";
    --sym-tnt: "🧨";
    --sym-bone: "🦴";
    --sym-fountain: "⛲";
    --sym-banana: "🍌";
    --sym-cheese: "🧀";
}
