
:root {
    --game-font-family: 'Share Tech Mono', monospace;
    --game-border-color: transparent;

    --score-color: white;
    --score-minus-color: red;

    --backdrop-blur: blur(4px);
    --border-radius: 8px;

    --shadow-glow: 0 0 10px 5px var(--shadow-glow-color);

    --message-font-size: 12px;

    --small-font-size: 10px;
    --medium-font-size: 16px;
    --large-font-size: 20px;

    --background-width: 500px;
    --background-height: 700px;

    --cell-size: 24px;
}

