
:root {
    --game-font-family: 'Share Tech Mono', monospace;

    --score-color: white;
    --score-minus-color: red;

    --backdrop-blur: blur(4px);
    --border-radius: 8px;

    --shadow-glow-color: rgba(255, 173, 106, 0.92);
    --shadow-glow: 0 0 10px 5px var(--shadow-glow-color);

    --small-font-size: 10px;
    --medium-font-size: 16px;
    --message-font-size: 12px;
    --large-font-size: 24px;

    --body-bg-image: url("ib-game-frame.png");

    --cell-size: 24px;

    --maze-edge: #222;
    --maze-bg: #222;
    --maze-path: #bda06f;
    --maze-wall: #4a3f33;
    --maze-edge: #2b241c;

    --maze-edge-inset: 4px rgba(0, 0, 0, 0.4);
}

#maze {
    --sym-player: "🤠";
    --sym-cat: "🐈";
    --sym-rat: "🐀";
    --sym-mouse: "🐁";
    --sym-monkey: "🐒";
    --sym-scorpion: "🦂";
    --sym-spider: "🕷️";

    --sym-powerup: "💀";
    --sym-dead: "⚰️";
    --sym-buried: "🪦";

    --sym-exit: "🕳";
    --sym-web: "🕸";
    --sym-poop: "💩";
    --sym-gem: "💎";
    --sym-tnt: "🧨";
    --sym-bone: "🦴";
    --sym-fountain: "⛲";
    --sym-banana: "🍌";
    --sym-cheese: "🧀";
}
