
.spin {
    transform: rotateY(360deg);
}

.flatten {
    transform: scaleY(0);
    transform-origin: bottom;
}

.down {
    transition: top 2s ease-in;
}

.cell.exit,
.cell.entrance,
.pulse {
    background: transparent;
    animation: glow 1s infinite alternate;
}

.flash {
  animation: flash 300ms ease-out;
}

@keyframes glow {
    from {
        opacity: 0.75;
        box-shadow: 0 0 10px;
    }

    to {
        opacity: 1;
        box-shadow: 0 0 40px;
    }
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    15% {
        transform: translate(-2px, 0px) rotate(-8deg);
    }

    30% {
        transform: translate(2px, 0px) rotate(8deg);
    }

    45% {
        transform: translate(-2px, 0px) rotate(-6deg);
    }

    60% {
        transform: translate(2px, 0px) rotate(6deg);
    }

    75% {
        transform: translate(-1px, 0px) rotate(-4deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes flash {
  0% {
    background-color: #fff;
    filter: brightness(3);
  }

  30% {
    background-color: #ffd54a;
    filter: brightness(2);
  }

  100% {
    background-color: inherit;
    filter: brightness(1);
  }
}

