@import "config.css";

#maze.rumble {
    animation: rumble .18s ease-in-out infinite;
}

.cell {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--maze-path);
}

.cell {
  pointer-events: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

.cell.edge {
    background-color: var(--maze-edge);
    box-shadow: inset 0 0 var(--maze-edge-inset);
}

.cell.wall,
.cell.wall.rock {
    background-color: var(--maze-wall);
}

.cell.edge,
.cell.wall {
    opacity: .25;
}

.cell.exit,
.cell.path {
    background-color: var(--maze-path);
}

.cell.visited {
    position: relative;
}

.cell::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cell.visited::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--cell-visited-color);
}

.cell.rock {
    z-index: 5;
}

.cell.rock::after {
    content: var(--sym-rock);
}
